/* Объединение всех @font-face в один блок */
@font-face {
	font-family: 'Bebas Neue';
	src: 
	  local('Bebas Neue Thin'), local('BebasNeue-Thin'), url('fonts/bebasneuethin.woff2') format('woff2'), url('fonts/bebasneuethin.woff') format('woff'),
	  local('Bebas Neue Light'), local('BebasNeue-Light'), url('fonts/bebasneuelight.woff2') format('woff2'), url('fonts/bebasneuelight.woff') format('woff'),
	  local('Bebas Neue Book'), local('BebasNeueBook'), url('fonts/bebasneuebook.woff2') format('woff2'), url('fonts/bebasneuebook.woff') format('woff'),
	  local('Bebas Neue Regular'), local('BebasNeueRegular'), url('fonts/bebasneueregular.woff2') format('woff2'), url('fonts/bebasneueregular.woff') format('woff'),
	  local('Bebas Neue Bold'), local('BebasNeueBold'), url('fonts/bebasneuebold.woff2') format('woff2'), url('fonts/bebasneuebold.woff') format('woff');
	font-weight: 100 700;
	font-style: normal;
  }
  
  /* Общие переменные для цветов и шрифтов */
  :root {
	/* Цвета */
	--primary-color: #924cd0;
	--secondary-color: #ffef5a;
	--bg-color: #ffffff;
	--hover-bg-color: #ffef5a;
	--active-border-color: #924cd0;
	--table-row-even-bg: #e8d9f5;
	--profile-border: #0f0617;
	--text-color: #0f0617;
  
	/* Шрифты */
	--font-family-mono: "IBM Plex Mono", monospace;
	--font-size-base: 15px;
	--font-size-h2: 1.5em;
	--font-size-profile: 1.25em;
	--font-size-h2-heading: 2em;
  }
  
  /* Универсальные стили для всех элементов */
  *, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
  }
  
  ::selection {
	background: var(--primary-color);
	color: var(--secondary-color);
  }
  
  /* Стили для body */
  body {
	font-family: var(--font-family-mono);
	color: var(--text-color);
	font-size: var(--font-size-base);
	background-color: var(--bg-color);
	background-image: repeating-linear-gradient(-45deg, transparent, transparent 0.5rem, #dcc5f0 0.5rem, #dcc5f0 0.75rem);
	line-height: 1.5;
  }
  
  /* Контейнер Dashboard */
  .dashboard {
	display: grid;
	grid-template-columns: repeat(6, 15.25%);
	grid-gap: 0 1.67%;
	margin: 20px auto;
	padding: 20px;
	border: 2px solid var(--profile-border);
	width: 1300px;
	max-width: calc(100% - 40px);
	background: var(--bg-color);
	box-shadow: 1px 1px 2px 2px var(--primary-color);
  }
  
  /* Стили для элементов в Dashboard */
  .dashboard > div {
	margin-bottom: 20px;
	padding: 15px;
	background-color: #f7f7f7;
	border: 2px solid var(--profile-border);
	grid-column: 1 / 7;
	box-shadow: inherit;
  }
  
  .dashboard > div:hover {
	background: #fff;
	color: black;
  }
  
  .dashboard > div:last-of-type {
	margin-bottom: 5px;
  }
  
  /* Стили для заголовков h2 */
  h2 {
	font-size: var(--font-size-h2);
	line-height: 1.1em;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	margin-top: 0;
	padding: 5px 10px;
	margin-bottom: 15px;
	border-bottom: 2px solid var(--profile-border);
	position: relative;
  }
  
  h2::before, h2::after {
	content: "";
	position: absolute;
	bottom: -2px;
	width: 15px;
	height: 100%;
	left: -15px;
	border: 2px solid var(--profile-border);
	border-left: none;
	vertical-align: text-bottom;
  }
  
  h2::after {
	left: unset;
	right: -15px;
	border-right: none;
	border-left: 2px solid var(--profile-border);
  }
  
  /* Стили таблиц */
  table {
	width: 100%;
	border-collapse: collapse;
  }
  
  th, td {
	border: 2px solid var(--profile-border);
	padding: 8px;
	text-align: left;
  }
  
  tr:hover td {
	background: var(--table-row-even-bg);
  }
  
  th {
	background-color: var(--primary-color);
	color: #fff;
  }
  
  /* Стили для списков */
  ul {
	list-style-type: none;
	padding: 0;
  }
  
  li {
	padding: 5px 0;
	border-bottom: 2px solid var(--profile-border);
  }
  
  /* Стили для активности */
  .calories div {
	font-size: var(--font-size-profile);
	line-height: 1.5em;
	border-bottom: 2px solid var(--profile-border);
	padding: 5px 0;
  }
  
  .profile {
	text-align: center;
  }
  
  .profile h2 {
	font-size: var(--font-size-h2-heading);
	padding-bottom: 0px;
	border: none;
  }
  
  .profile p {
	font-size: var(--font-size-profile);
	font-style: italic;
	margin-bottom: 10px;
  }
  
  /* Стили для activity-feed */
  .dashboard .activity-feed li {
	font-style: italic;
  }
  
  /* Медиазапросы для адаптивности */
  @media (min-width: 767px) {
	.dashboard .schedule-table {
	  grid-column: 1 / 7;
	}
	.dashboard .exercise-table {
	  grid-column: 4 / 7;
	}
	.dashboard .calories {
	  grid-column: 1 / 5;
	}
	.dashboard .personal-bests {
	  grid-column: 5 / 7;
	}
	.dashboard .challenges {
	  grid-column: 1 / 3;
	}
	.dashboard .activity-feed {
	  grid-column: 3 / 7;
	}
  
	.calories div {
	  width: 33.333%;
	  float: left;
	  display: grid;
	  border-left: 2px solid var(--profile-border);
	  padding-left: 10px;
	  margin-left: -2px;
	  border-bottom: none;
	}
  }
  
  /* Стили для фиксированной таблицы */
  .tableFixHead {
	overflow-y: auto;
	max-height: 300px;
  }
  
  .tableFixHead thead th {
	position: sticky;
	top: 0;
	z-index: 1;
  }
  